/build/
/target/

.project
.classpath
.settings/

/WebContent/uploads
/WebContent/devRech
entidad.properties
flyway.properties
flyway.app.properties
flyway.test.properties
build.num
/bin/
/velocity.log
/velocity.log.1

.sonar
/hs_err_pid11628.log
